{
	"example": {
		"port": 5000
	},
	"general": {
		"access_token_key": "access_token_key",
		"refresh_token_key": "refresh_token_key",
		"mongodb_uri": "mongodb://root:password@mongodb:27017/micro-stranerd",
		"redis_uri": "redis://redis:6379",
		"rabbitmq_config": {
			"protocol": "amqp",
			"hostname": "rabbitmq",
			"port": 5672,
			"username": "test",
			"password": "password",
			"vHost": "/",
			"authMechanism": [
				"PLAIN",
				"AMQPLAIN",
				"EXTERNAL"
			]
		}
	}
}