{
	"example": {
		"port": 5000
	},
	"general": {
		"access_token_key": "",
		"refresh_token_key": "",
		"mongodb_uri": "mongodb://root:password@localhost:27017/micro-stranerd",
		"redis_uri": "redis://localhost:6379",
		"rabbitmq_config": {
			"protocol": "amqp",
			"hostname": "localhost",
			"port": 5672,
			"username": "guest",
			"password": "guest",
			"vHost": "/",
			"authMechanism": [
				"PLAIN",
				"AMQPLAIN",
				"EXTERNAL"
			]
		}
	}
}